<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<h2>Cadastrar Aluno: </h2>
<hr>
<form class="form-group" style="margin-left: 15px;">
<p>nome: <input type="text" name="name" [(ngModel)]="aluno.nome"></p>
<p>Idade: <input type="text" name="idade" [(ngModel)]="aluno.idade"></p>
<button class="btn btn-primary" type="button" (click)="cadastrar()">Cadastrar</button>

</form>

<h2>Alunos Cadastrados</h2>

<hr>
<table>

<tr>
<th>Selecionar</th>
<th>id</th>
<th>Nome</th>
<th>Idade</th>
<th>Ações</th>


</tr>

<tr *ngFor="let aluno of alunos">
        <th><input type="button" (click)="alunoSelecionado(aluno)" value="Selecionar" class="btn btn-secondary"></th>
        <th>{{aluno.id}}</th>
        <th>{{aluno.nome}}</th>
        <th>{{aluno.idade}}</th>
        <th><button (click)="atualizar(aluno.id)" class="btn btn-warning">Atualizar</button>
        <button (click)="remover(aluno.id)" class="btn btn-danger">Remover</button>
        <button (click)="downloadPdf(aluno)" class="btn btn-info">Imprimir</button></th>


</tr>


</table>
